<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyBZb9O4NXDV7j6hsJkfyecoVwe834f7R0Y</string>
	<key>GCM_SENDER_ID</key>
	<string>721415768930</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.mcmsFlutter</string>
	<key>PROJECT_ID</key>
	<string>mcms-b2f28</string>
	<key>STORAGE_BUCKET</key>
	<string>mcms-b2f28.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:721415768930:ios:cd3741476951644b827a3b</string>
</dict>
</plist>